<%= form_with model: blog_post do |form| %>

  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="my-8">
    <%= form.label :title, class: "block text-sm uppercase" %>
    <%= form.text_field :title, class: "w-full" %>
  </div>

  <div class="my-8">
    <%= form.label :cover_image, class: "block text-sm uppercase" %>

    <% if blog_post.cover_image.present? %>

      <div id="<%= dom_id(blog_post, :cover_image) %>">
        <%= image_tag blog_post.cover_image %>
        <%= link_to "Remove cover image",
          blog_post_cover_image_path(blog_post),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>


    <% end %>


    <%= form.file_field :cover_image %>
  </div>

  <div class="my-8">
    <%= form.label :content, class: "block text-sm uppercase" %>
    <%= form.rich_text_area :content, class: "min-h-[300px]" %>
  </div>

  <div class="my-8">
    <%= form.label :published_at, class: "block text-sm uppercase" %>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

  <div class="my-8">
    <% if form.object.persisted? %>
      <%= form.submit "Update", class: "button" %>
    <% else %>
      <%= form.submit "Create", class: "button" %>
    <% end %>
  </div>
<% end %>

